.search-bar {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.mic-circle {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.circle {
    width: 90px;
    height: 40px;
    border: 1px solid black;
    border-radius: 80px;
}
.circle-p{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.margin{

    margin:20px;
}
.height{
height: 30px;


}
.c{
    
font-size: x-large;
}